@import '../../../theme/variables';

.container {
  align-self: flex-end;
  width: 100%;
  background-color: #FFF;
  padding: 2em 0 1em;
}

.innerContainer {
  width: 100%;
  max-width: $max-width;
  margin: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-grow: 1;
  padding: 0 14px;
}

.section.left {
  justify-content: flex-start;
}

.section.right {
  justify-content: flex-end;
}

.section a {
  padding: 0.5em;
  color: rgb(88, 88, 88);
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.logoContainer {
  padding: 10px;
}

.logo {
  max-height: 80px;
}
