{
  "presets": [
    ["es2015", {
      "loose": true,
      "modules": false
    }],
    "react",
    "stage-0"
  ],
  "plugins": [
    "syntax-dynamic-import"
  ],
  "env": {
    "production": {
      "only": ["app"],
      "plugins": [
        "transform-react-remove-prop-types",
        "transform-react-constant-elements",
        "transform-react-inline-elements",
        "syntax-dynamic-import"
      ]
    }
  }
}
