{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "json"
  ],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "max-len": 0,
    "import/imports-first": 0,
    "import/no-extraneous-dependencies": 0,
    "jsx-a11y/aria-props": 2,
    "jsx-a11y/heading-has-content": 0,
    "jsx-a11y/href-no-hash": 2,
    "jsx-a11y/label-has-for": 2,
    "jsx-a11y/mouse-events-have-key-events": 2,
    "jsx-a11y/role-has-required-aria-props": 2,
    "jsx-a11y/role-supports-aria-props": 2,
    "react/jsx-filename-extension": 0,
    "react/require-extension": 0
  },
  "globals": {
    "__BASENAME__": true
  }
}
