{
  "extends": "stylelint-config-standard",
  "rules": {
    "color-hex-case": "upper",
    "string-quotes": "single",
    "font-family-name-quotes": "always-where-recommended",
    "indentation": 2
  }
}
