@import '../../theme/variables';
@import '../../theme/breakpoints';

.modalContainer {
  overflow: auto;
}

.modalHeader {
  width: 100%;
  height: 300px;
}

.modalContent {
  position: relative;
  padding: 1em 1em 2em;

  @include mappy-bp(medium) {
    padding: 1em 2em 2em;
  }
}

.title {
  color: $ict-blue;
}

.twitter {
  padding: 0 1em;
  display: inline-block;
  color: $ict-blue;
  text-decoration: none;
}
