.container {
  max-width: 900px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
}

.item {
  width: 200px;
  padding: 10px;
  text-align: center;
  flex-grow: 0;
  flex-shrink: 0;
}

.speaker_thumbnail {
  width: 80%;
  margin: auto;
}

.speaker_name {
  margin-top: 15px;
}
