@import '../../theme/variables';

.container {
  max-width: $max-width;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 15px;
}

.item {
  width: 200px;
  padding: 10px;
  text-align: center;
  flex-grow: 0;
  flex-shrink: 0;
}

.name {
  display: block;
  margin-top: 15px;
  color: $ict-grey-text;
  font-size: 1.1em;
  text-decoration: none;

  &:hover {
    color: darken($ict-grey-text, 15%);
    font-weight: 500;
  }
}

.title {
  margin-top: 4px;
  color: $ict-blue;
  font-size: 0.9em;
  line-height: 1.4;
}

.picture {
  width: 100%;
  border: 1px solid #DDD;
  opacity: 1;
  border-radius: 1px;
  transition: opacity 0.2s ease-in-out;
}

.picture:hover {
  opacity: 0.8;
}

.pictureFrame {
  position: relative;
  line-height: 0;
  background-color: black;
  display: block;
}
