@import '../../../../../../theme/breakpoints';
@import '../../../../../../theme/variables';

.item {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 10px;

  @include mappy-bp(max medium) {
    display: none !important;
  }
}

.link {
  flex-grow: 1;
  color: $ict-grey-text;
  text-decoration: none;
  padding: 2px 0;
  display: inline-block;
  position: relative;

  &::after {
    content: '';
    display: block;
    margin: auto;
    height: 1px;
    width: 0;
    background: transparent;
    transition: width 0.3s ease, background-color 0.3s ease;
  }

  &:hover,
  &:focus,
  &:active {
    &::after {
      width: 100%;
      background: $ict-grey-text;
    }
  }
}

.active {
  font-weight: 400;
  &::after {
    width: 100%;
    background: $ict-grey-text;
  }
}

.primary {
  font-weight: 400;
  color: $ict-blue;

  &:hover,
  &:focus,
  &:active {
    &::after {
      background: $ict-blue;
    }
  }
}
