@import '../../../../../../theme/breakpoints';
@import '../../../../../../theme/variables';

.item {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 10px;

  @include mappy-bp(max medium) {
    display: none !important;
  }
}

.link {
  flex-grow: 1;
  color: $ict-grey-text;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-color 0.2s linear;
  padding: 2px 0;

  &:hover,
  &:focus,
  &:active {
    border-bottom: 1px solid $ict-grey-text;
  }
}

.active {
  font-weight: 400;
  border-bottom: 1px solid $ict-grey-text;
}

.primary {
  font-weight: 400;
  color: $ict-blue;

  &:hover,
  &:focus,
  &:active,
  &.active {
    border-bottom: 1px solid $ict-blue;
  }
}
