@import '../../../../../../theme/breakpoints';
@import '../../../../../../theme/variables';

.item {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0.8em 0.5em 0.6em;

  @include mappy-bp(max medium) {
    display: none !important;
  }
}

.link {
  flex-grow: 1;
  color: lighten($ict-grey-text, 10%);
  text-decoration: none;
  display: inline-block;
  position: relative;

  &::after {
    content: '';
    display: block;
    margin: auto;
    height: 1px;
    width: 0;
    background: transparent;
    transition: width 0.3s ease, background-color 0.3s ease;
  }

  &:hover,
  &:focus,
  &:active {
    color: $ict-grey-text;

    &::after {
      width: 100%;
      background-color: lighten($ict-grey-text, 30%);
    }
  }
}

.active {
  color: darken($ict-grey-text, 5%);

  &::after {
    width: 100%;
    background-color: lighten($ict-grey-text, 10%);
  }
}

.primary {
  font-weight: 400;
  color: $ict-blue;

  &:hover,
  &:focus,
  &:active {
    color: darken($ict-blue, 5%);

    &::after {
      background: $ict-blue;
    }
  }
}
