@import '../../theme/variables';

.container {
  align-self: flex-end;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  background-color: #F5F5F5;
  padding: 18px 0 12px;
}

.section {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-grow: 1;
  padding: 0 14px;
}

.section.left {
  justify-content: flex-start;
}

.section.right {
  justify-content: flex-end;
}

.section a {
  padding: 10px;
  color: rgb(66, 66, 66);
  text-decoration: none;
}

.logoContainer {
  padding: 10px;
}

.logo {
  max-height: 80px;
}
