/*
 * Typography
 */
$typi: (
  null: (14px, 1.6),
  xsmall: (15px, 1.6),
  small: (16px, 1.6),
);

$h1-map: (
  null: (36px, 1.4),
  medium: (48px, 1.4)
);

$h2-map: (
  null: (30px, 1.4),
  medium: (40px, 1.4)
);

$h3-map: (
  null: (24px, 1.4),
  medium: (31px, 1.4)
);

$h4-map: (
  null: (20px, 1.4),
  medium: (25px, 1.4)
);

$h5-map: (
  null: (18px, 1.4),
  medium: (20px, 1.4)
);

$h6-map: (
  null: (16px, 1.4),
  medium: (16px, 1.4)
);
