@import 'sanitize.css/sanitize.css';
@import '~typi/scss/typi';
@import './variables';
@import './typography';

:global {
  html {
    font-family: Roboto, Helvetica, Arial, sans-serif;

    @include typi-base();

    letter-spacing: -0.01em;
    background-color: #FFF;
    color: $ict-grey-text;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    font-weight: 400;
  }

  h1 {
    @include typi($h1-map);

    font-weight: 300;
  }

  h2 {
    @include typi($h2-map);

    font-weight: 300;
  }

  h3 {
    @include typi($h3-map);

    font-weight: 300;
  }

  h4 {
    @include typi($h4-map);

    font-weight: 300;
  }

  h5 {
    @include typi($h5-map);

    font-weight: 300;
  }

  h6 {
    @include typi($h6-map);

    font-weight: 300;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
}
