@import '../../../../../../../theme/variables';

.link {
  display: block;
  color: $ict-grey-text;
  width: 100%;
  line-height: 3em;
  font-weight: 300;
  padding-left: 2em;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: #EEE;
  }
}

.active {
  font-weight: 500;
  color: darken($ict-grey-text, 10%);
}
