@import '../../../../theme/variables';
@import '../../../../theme/breakpoints';

.container {
  align-items: stretch;
  display: flex;
  justify-content: flex-start;
  padding-right: 28px;

  @include mappy-bp(medium) {
    display: none;
  }
}

.title {
  padding-left: 0.5em;
  font-weight: 300;
  color: darken($ict-grey-text, 10%);
}
