.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.containerNoOverflow {
  overflow: hidden;
}

.enter {
  visibility: hidden;
  opacity: 0;
}

.enter.enterActive {
  visibility: visible;
  opacity: 1;
  transition:
    visibility 0ms linear 300,
    opacity 300 ease-in 300;
}

.leave {
  display: none;
}
