@import '../../theme/variables';
@import '../../theme/breakpoints';

.modalContainer {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }
}

.modalHeader {
  display: inline-block;
  width: 100%;
  padding: 2em;

  h1 {
    font-weight: 500;
  }

  h2 {
    font-weight: 500;
  }

  .blue & {
    background-color: $ict-blue;
    color: #FFF;
  }

  .yellow & {
    background-color: $ict-yellow;
    color: #FFF;
  }

  .purple & {
    background-color: $ict-purple;
    color: #FFF;
  }

  .grey & {
    background-color: #666;
    color: #FFF;
  }
}

.modalContent {
  position: relative;
  padding: 1em 1em 2em;

  @include mappy-bp(medium) {
    padding: 1em 2em 2em;
  }
}

.pageContainer {
  max-width: $max-width;
  margin: auto;
  padding: ($header-height+1em) 1em $header-height;

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }
}

.visual {
  margin: auto;
  display: block;
  max-width: 100%;
}

.checkbox {
  $size: 3em;

  position: absolute;
  top: -($size / 2);
  right: 2.5em;
  width: $size;
  height: $size;
  background-color: #FFF;
  border-radius: 50%;
  font-size: 1.3em;

  @include mappy-bp(medium) {
    display: none;
  }
}
