@import '../../theme/breakpoints';
@import '../../theme/variables';

.container {
  max-width: $max-width;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}
