@import '../../../../../../theme/variables';

.link {
  display: block;
  color: $ict-grey-text;
  width: 100%;
  line-height: 3em;
  padding-left: 2em;
  text-decoration: none;

  &:hover {
    background-color: #EEE;
  }
}
