@import '../../../../../theme/variables';
@import '../../../../../theme/breakpoints';

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 0.5em;

  @include mappy-bp(medium) {
    display: none;
  }
}

.title {
  font-weight: 300;
  color: darken($ict-grey-text, 10%);
  font-size: 1.3rem;
  line-height: 1.75;
}
