@import '../../theme/breakpoints';

/**
 * Container
 */

.snackbar {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  margin: 0 auto;
  max-width: 100%;

  @include mappy-bp(medium) {
    left: 1em;
    bottom: 1em;
    right: inherit;
    max-width: 30em;
  }
}

/**
 * Animations
 */

.enter {
  opacity: 0;
  transform: translateY(100%);
}

.enter.enterActive {
  opacity: 1;
  transform: translateY(0);
  transition: all 300ms ease-in-out 0ms;
}

.leave {
  opacity: 1;
  transform: translateY(0);
}

.leave.leaveActive {
  opacity: 0;
  transform: translateY(100%);
  transition: all 300ms ease-in-out 0ms;
}
