@import '../../theme/variables';

.listItem {
  letter-spacing: 0.02em;
  display: flex;
  min-height: 3em;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding: 24px 16px;
  overflow: hidden;
  transition: background-color 200ms ease-in-out;
}

.greyItem {
  color: rgba(0, 0, 0, 0.87);
  border-left: 1em solid #CCC;
  background-color: lighten(#CCC, 16%);
  &:hover {
    background-color: lighten(#CCC, 11%);
  }
}

.blueItem {
  color: rgba(0, 0, 0, 0.87);
  border-left: 1em solid $ict-blue;
  background-color: lighten($ict-blue, 58%);
  &:hover {
    background-color: lighten($ict-blue, 50%);
  }
}

.yellowItem {
  color: rgba(0, 0, 0, 0.87);
  border-left: 1em solid $ict-yellow;
  background-color: lighten($ict-yellow, 40%);
  &:hover {
    background-color: lighten($ict-yellow, 31%);
  }
}

.purpleItem {
  color: rgba(0, 0, 0, 0.87);
  border-left: 1em solid $ict-purple;
  background-color: lighten($ict-purple, 53%);
  &:hover {
    background-color: lighten($ict-purple, 45%);
  }
}

.primary {
  display: block;
  order: 0;
  flex-grow: 2;
  text-decoration: none;
  box-sizing: border-box;
  display: block;
  align-items: center;
}

.timeAndVenue {
  margin-right: 0.5em;
}

.secondary {
  align-items: center;
  padding: 0 1em;
}

.title {
  color: darken($ict-grey-text, 5%);
  text-decoration: none;
}

a.title {
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.subtitle {
  font-size: 0.9em;
  font-weight: 400;
  line-height: 18px;
  color: lighten($ict-grey-text, 5%);
  display: block;
  padding: 0;
}

$radio-border: 2px solid $ict-purple;

/* Remove default checkbox */
[type='checkbox']:not(:checked),
[type='checkbox']:checked {
  position: absolute;
  left: -9999px;
  opacity: 0;
}

// Checkbox Styles
[type='checkbox'] {
  // Text Label Style
  + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;

    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
  }

  /* checkbox aspect */
  + label::before,
  + label::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #5A5A5A;
    border-radius: 1px;
    margin-top: 2px;
    transition: 0.2s;
  }

  + label::after {
    border: 0;
    transform: scale(0);
  }
}

$borderWidth: 3px;

[type='checkbox']:checked {
  + label::before {
    top: -4px;
    left: -5px;
    width: 12px;
    height: 22px;

    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: $borderWidth solid $ict-grey-text;
    border-bottom: $borderWidth solid $ict-grey-text;

    .purpleItem & {
      border-right: $borderWidth solid $ict-purple;
      border-bottom: $borderWidth solid $ict-purple;
    }

    .yellowItem & {
      border-right: $borderWidth solid $ict-yellow;
      border-bottom: $borderWidth solid $ict-yellow;
    }

    .blueItem & {
      border-right: $borderWidth solid $ict-blue;
      border-bottom: $borderWidth solid $ict-blue;
    }

    transform: rotate(40deg);
    backface-visibility: hidden;
    transform-origin: 100% 100%;
  }
}
