.listItem {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  line-height: 1;
  display: flex;
  min-height: 48px;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding: 16px;
  cursor: default;
  color: rgba(0, 0, 0, 0.87);
  overflow: hidden;
  height: 72px;
}

.primary {
  height: 36px;
  line-height: 20px;
  display: block;
  order: 0;
  flex-grow: 2;
  text-decoration: none;
  box-sizing: border-box;
  display: block;
  align-items: center;
}

.secondary {
  align-items: center;
}

.subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.54);
  display: block;
  padding: 0;
}
