@import '../../../../theme/variables';

.navToggle {
  cursor: pointer;
  display: block;
  height: $header-height;
  width: $header-height;
  position: relative;
}

@media (min-width: 52em) {
  .navToggle {
    display: none !important;
  }
}

.navToggle span {
  background: #666;
  display: block;
  height: 1px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  top: 50%;
  transition: none 86ms ease-out;
  transition-property: background, left, opacity, transform;
  width: 15px;
}

.navToggle span:nth-child(1) {
  margin-top: -6px;
}

.navToggle span:nth-child(2) {
  margin-top: -1px;
}

.navToggle span:nth-child(3) {
  margin-top: 4px;
}

.navToggle:hover {
  background: #F5F7FA;
}

.navToggle.is-active span {
  background: #1FC8DB;
}

.navToggle.is-active span:nth-child(1) {
  margin-left: -5px;
  transform: rotate(45deg);
  transform-origin: left top;
}

.navToggle.is-active span:nth-child(2) {
  opacity: 0;
}

.navToggle.is-active span:nth-child(3) {
  margin-left: -5px;
  transform: rotate(-45deg);
  transform-origin: left bottom;
}
