@import '../../theme/breakpoints';

.app {
  display: flex;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

// Classes applied on body
.drawerOpen {
  overflow: hidden;

  @include mappy-bp(medium) {
    overflow: auto;
  }
}

.modalOpen {
  overflow: hidden;
}
