.speaker_thumbnail--blue {
  border: 5px solid $ict-blue;
}

.speaker_thumbnail--purple {
  border: 5px solid $ict-purple;
}

.speaker_thumbnail--yellow {
  border: 5px solid $ict-yellow;
}

.speaker_col {
  text-align: center;
}

.speaker_thumbnail {
  width: 80%;
  margin: auto;
}

.speaker_name {
  margin-top: 15px;
}
