@import '../../../../../theme/variables';
@import '../../../../../theme/breakpoints';

.navToggle {
  position: relative;
  cursor: pointer;
  display: block;
  height: $header-height;
  width: $header-height;
}

@include mappy-bp(medium) {
  .navToggle {
    display: none !important;
  }
}

.navToggle span {
  background: $ict-grey-text;
  display: block;
  height: 2px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  top: 50%;
  width: 1em;
}

.navToggle span:nth-child(1) {
  margin-top: -6px;
}

.navToggle span:nth-child(2) {
  margin-top: -1px;
}

.navToggle span:nth-child(3) {
  margin-top: 4px;
}

.navToggle:hover {
  background: #F5F7FA;
}
