@import '../../theme/variables';
@import '../../theme/breakpoints';

.container {
  max-width: $max-width;
  margin: auto;
  padding: $header-height 1em;
  color: $ict-grey-text;

  a {
    text-decoration: none;
    color: $ict-blue;

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }
}

.header {
  @include mappy-bp(max medium) {
    display: none;
  }

  h1 {
    color: $ict-grey-text;
  }
}

.spaced {
  margin: 1em 0 2em;
}

.illustrations {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  img {
    max-width: 280px;
    flex-basis: 280px;
    width: 100%;
    height: auto;
    margin: 0.5em;
  }
}
